a:visited {
    color:#22032f
}

a:focus, a:hover {
	color: #00f2ff;
}



h1 {
    font-size: 5 em;
    font-family: Victor Mono;
    color: rgb(244, 157, 255);
}
body {
    background-color: rgb(36, 63, 115);
    background-image: url(rainbow.png);
}
header {
    margin-top: 0;
    text-align: center;
    padding: 1em 1em 1em 1em;
    background-color: rgba(135, 22, 135, 0.5);
    border: 5px solid #3a0671;
}
h2 img{
	width: 145px;
	height: 193px;
	margin-left: .5em;
	margin-right: .5em;
    border: 2px solid #3a0671;
}
footer img {
	width: 60px;
	height: 60px;
	margin-left: 2em;
	margin-right: 0.5em;
}

h2 {
    margin-left: 1em;
    font-family: Victor Mono;
    color: rgb(244, 157, 255); 
}
li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(238, 58, 208); 
}
p {
    margin-left: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(238, 58, 208);